body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #ffffff;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header .logo {
    width: 400px; 
    margin-bottom: 1em;
}

nav {
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background: #575757;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

.estado, .ong {
    margin: 1em 0;
}

footer {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.black-text {
    color: black;
}
