body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #ffffff; /* Verde da bandeira do Brasil */
    color: white;
    padding: 1em 0;
}

header .logo {
    width: 350px;
    height: auto;
}

h1, h2, h3, p {
    margin: 0.5em 0;
}

nav {
    background-color: #ffdf00; /* Amarelo da bandeira do Brasil */
    padding: 0.5em 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff; /* Azul da bandeira do Brasil */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.estado, .ong {
    margin-bottom: 15px;
}

footer {
    background-color: #002776; /* Azul da bandeira do Brasil */
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.black-text {
    color: #000;
}

/* Aumentar tamanho do texto */
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p, li {
    font-size: 1.2em;
}
